__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

.env
.env.local

*.log

.venv/
venv/

.ruff_cache/
.mypy_cache/
.pytest_cache/

.idea/
.vscode/
*.swp
*.swo

mongo_data/
qdrant_data/
redis_data/

node_modules